<div class="container" ng-controller="employee-controller">
    <div class="panel panel-info">
        <div class="panel-heading">
            Employee Details - Grid CRUD operations
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-info"
                    data-target="#AddNew" data-toggle="modal">
                Add Employee
            </button>
            <br />
        </div>

        @*Employee Records*@
        <table class="table table-bordered">
            <thead style="background-color:lightblue;">
                <tr>
                    <th> Employee ID</th>
                    <th> Employee Name</th>
                    <th>Email </th>
                    <th>Department Name</th>
                    <th>Designation</th>
                    <th> Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emp in Employees">
                    <td> {{emp.EmpID}}</td>
                    <td> {{emp.EmpName}} </td>
                    <td>{{emp.Email}}</td>
                    <td>{{emp.DeptName}}</td>
                    <td>{{emp.Designation}}</td>
                    <td style="width:200px;">
                        <a href="#" 
                           class="btn btn-info"
                           data-toggle="modal" 
                           data-target="#Update" 
                           ng-click="getForUpdate(emp)">
                           Update
                        </a>
                        <a href="#" class="btn btn-danger"
                           id="btnDelete" 
                           data-toggle="modal" 
                           data-target="#deleteDialog" 
                           ng-click="getForDelete(emp)">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    @*New record Modal addition..*@
    <div class="modal" id="AddNew" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Add New Employee</h3>
                </div>
                <div class="modal-body" style="margin-left:20px">
                    @*Add New Employee form starts here...*@
                    <form class="form-horizontal" name="AddNewForm" >
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="EmpNo" ng-model="EmpNo" type="hidden" placeholder="Employee Number" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Employee Name</label>
                            <input class="form-control" name="EmpName" ng-model="EmpName" type="text" placeholder="Employee Name" />

                        </div>
                        <div class="form-group">
                            <label class="control-label"> Email</label>
                            <input class="form-control" name="Email" ng-model="Email" type="email" placeholder="Email" />

                        </div>
                        <div class="form-group">
                            <label class="control-label"> Department Name</label>
                            <input class="form-control" name="DeptName" ng-model="DeptName" type="text" placeholder="Dept Name" />

                        </div>
                        <div class="form-group">
                            <label class="control-label"> Designation</label>
                            <input class="form-control" name="Designation" ng-model="Designation" type="text" placeholder="Designation" />

                        </div>                       
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-click="save()">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="resetSave()">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Upadate Employee records*@
    <div class="modal" id="Update" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Update Existing Employee</h3>
                </div>
                <div class="modal-body" style="margin-left:20px">
                    @*Update Employee form starts here...*@
                    <form class="form-horizontal" name="UpdateEmployeeForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="EmpNo" ng-model="UpdateEmpNo" type="hidden" placeholder="Employee Number" />
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Employee Name</label>
                            <input class="form-control" name="EmpName" ng-model="UpdateEmpName" type="text" placeholder="Employee Name" />
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Email</label>
                            <input class="form-control" name="Email" ng-model="UpdateEmail" type="email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Department Name</label>
                            <input class="form-control" name="DeptName" ng-model="UpdateDeptName" type="text" placeholder="Dept Name" />
                        </div>
                        <div class="form-group">
                            <label class="text-info"> Designation</label>
                            <input class="form-control" name="Designation" ng-model="UpdateDesignation" type="text" placeholder="Designation" />
                        </div>                       
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnUpdate" data-dismiss="modal" ng-click="update()">
                        Update
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Delete Employee record*@
    <div class="modal" role="dialog" id="deleteDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="text-info">Are you sure you want to delete the record?</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <p>Employee ID : {{UpdateEmpNo}}</p>
                        <p>Empployee Name : {{UpdateEmpName}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete(UpdateEmpNo)">Delete Record</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/AngularJSApp/Employee/Module.js"></script>
    <script src="~/AngularJSApp/Employee/Service.js"></script>
    <script src="~/AngularJSApp/Employee/Controller.js"></script>

}
